* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    margin: 0;
}

@font-face {
    font-family: "Inter";
    src: url("./assests/fonts/Inter-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Inter";
    src: url("./assests/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url("./assests/fonts/Inter-Bold.ttf");
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
    font-size: 100%
}

body {
    font-family: "Inter", sans-serif;
    background-color: rgba(242, 248, 213, 0.993);
    height: 100%;
}

header {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
    font-weight: 700;
    font-size: 3rem;
}

main {
    max-width: 50%;
    margin: 0 auto;
}

.section-accordion {
    border-top: 1px solid rgb(204, 203, 203);
    padding-top: 2rem;
}


label {
    font-weight: 700;
    font-size: 3rem;
    cursor: pointer;

    display: grid;
    grid-template-columns: 12fr 1fr;
}

input[type='radio'] {
    display: none;
}

.pointer-container {
    max-width: 0.5rem;
}

.accordion-container:hover .pointer-container {
    display: none;
}

.pointer {
    max-width: 3rem;
    display: none;
}

.accordion-container:hover .pointer {
    display: block;
}

#meme-one:checked~.one-icon,
#meme-two:checked~.second-icon,
#meme-three:checked~.third-icon,
#meme-four:checked~.fourth-icon,
#meme-five:checked~.fifth-icon {
    transform: rotate(180deg);
    transition: 0.5s;
    /* display: inline-block; */
}


.meme-image {
    width: 100%;
    max-height: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: max-height 0.5s;
}

input[type="radio"]:checked~.meme-image {
    max-height: 100%;
    margin: 4rem 0;
}

img {
    width: 55%;
}

footer {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

footer>a {
    margin-bottom: 1rem;
}

footer>span {
    font-size: 2rem;
}

.svg-git-hub {
    max-width: 10rem;
    cursor: pointer;
}

.rs-scool {
    display: flex;
    justify-content: end;
    cursor: pointer;
}