* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    margin: 0;
}

@font-face {
    font-family: "Inter";
    src: url("./assests/fonts/Inter-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Inter";
    src: url("./assests/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url("./assests/fonts/Inter-Bold.ttf");
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
    font-size: 100%
}

body {
    font-family: "Inter", sans-serif;
    background-color: rgba(242, 248, 213, 0.993);
    color: #363636;
}

header {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 0.25rem;
}

@media (max-width: 1918px) {
    header {
        max-width: 70%;
    }
}

@media (max-width: 800px) {
    header {
        max-width: 90%;
    }
}

h1 {
    font-weight: 700;
    font-size: 2.45rem;
}

@media (max-width: 1918px) {
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 1.75rem;
    }
}

main {
    max-width: 50%;
    margin: 0 auto;
}

@media (max-width: 1918px) {
    main {
        max-width: 70%;
    }
}

@media (max-width: 800px) {
    main {
        max-width: 90%;
    }
}

.section-accordion {
    border-top: 1px solid rgb(204, 203, 203);
    padding: 1.55rem 0;
    cursor: pointer;
    transition: 0.5s;
}

.section-accordion:active {
    transform: scale(1.1);
}

label {
    font-weight: 700;
    font-size: 1.35rem;
    line-height: 1.8rem;
    cursor: pointer;
    transition: 0.5s;
}

@media (max-width: 1918px) {
    label {
        font-size: 1.25rem;
        line-height: 1.6rem;
    }
}

@media (max-width: 800px) {
    label {
        font-size: 1rem;
        line-height: 1rem;
    }
}

input[type='radio'] {
    display: none;
}

.pointer {
    width: 0;
}

span {
    width: 100%;
}

.pointer-container {
    display: flex;
}

.header-pointer {
    color: rgb(0 189 72);
    display: flex;
}

#meme-one:checked~.header-pointer .pointer-container .one-icon,
#meme-two:checked~.header-pointer .pointer-container .second-icon,
#meme-three:checked~.header-pointer .pointer-container .third-icon,
#meme-four:checked~.header-pointer .pointer-container .fourth-icon,
#meme-five:checked~.header-pointer .pointer-container .fifth-icon {
    transform: rotate(180deg);
    transition: 0.5s;
}

.meme-image {
    width: 100%;
    max-height: 0;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    opacity: 0;
}

input[type="radio"]:checked~.meme-image {
    max-height: 100%;
    transition: 0.5s;
    margin: 2rem 0;
    opacity: 1;
}

input[type="radio"]:checked~.header-pointer {
    color: #363636;
}

@media (min-width:1182px) and (max-width:2000px) {
    .accordion-container:hover .pointer {
        transition: 0.5s;
        justify-self: end;
        width: 2rem;
        height: 2rem;
    }

    .section-accordion:hover .meme-image {
        max-height: 100%;
        margin: 4rem 0;
        opacity: 1;
    }

    .section-accordion:hover .pointer {
        transform: rotate(180deg);
        transition: 0.5s;
    }

    .accordion-container:hover span {
        color: #363636;
        transition: 0.5s;
    }
}

@media (min-width:280px) and (max-width:1182px) {
    .accordion-container .pointer {
        transition: 0.5s;
        justify-self: end;
        width: 1.5rem;
        height: 1.5rem;
    }
}

.meme {
    width: 40%;
    transition: 0.5s;
}

.meme:active {
    box-shadow: 0 0 1rem rgba(78, 223, 5, 0.63);
}

input[type="radio"]:checked~.meme-image .meme {
    box-shadow: 0 0 1rem rgb(44 46 43 / 63%);
}

.meme:hover {
    transform: scale(1.1);
}

@media (max-width: 1918px) {
    .meme {
        width: 60%;
    }
}

@media (max-width: 800px) {
    .meme {
        width: 80%;
    }
}